@charset "UTF-8";
body {
  background: #F5F3F4;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  /*
  perspective: 1000px;
  -webkit-perspective: 1000px;
  */ }

h1 {
  color: #4c4c4c;
  font-weight: 600;
  border-bottom: 1px solid #ccc; }

h2, h4 {
  font-weight: 400;
  color: #4d4d4d; }

/* Elements */
.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  /*
  webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  */ }

.card {
  display: inline-block;
  margin: 10px;
  background: #fff;
  padding: 15px;
  min-width: 200px;
  -webkit-box-shadow: 0 3px 5px #ddd;
  box-shadow: 0 3px 5px #ddd;
  color: #555; }

.card .box {
  width: 100px;
  height: 100px;
  margin: auto;
  background: #ddd;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #ccc inset;
  box-shadow: 0 0 5px #ccc inset; }

.card .box .fill {
  width: 100px;
  height: 100px;
  position: relative;
  /*background: #03A9F4;*/
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  opacity: .5;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.card p {
  margin: 25px 0 0; }

/* Rotate */
.rotate-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.rotate-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.rotate-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.rotate-180:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.rotate-225:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

.rotate-270:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.rotate-315:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg); }

.rotate-360:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.rotate:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/* RotateX */
.rotateX-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg); }

.rotateX-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg); }

.rotateX-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(135deg);
  transform: rotateX(135deg); }

.rotateX-180:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.rotateX-225:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(225deg);
  transform: rotateX(225deg); }

.rotateX-270:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(270deg);
  transform: rotateX(270deg); }

.rotateX-315:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(315deg);
  transform: rotateX(315deg); }

.rotateX-360:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg); }

.rotateX:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg); }

/* RotateY */
.rotateY-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg); }

.rotateY-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg); }

.rotateY-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(135deg);
  transform: rotateY(135deg); }

.rotateY-180:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.rotateY-225:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(225deg);
  transform: rotateY(225deg); }

.rotateY-270:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(270deg);
  transform: rotateY(270deg); }

.rotateY-315:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(315deg);
  transform: rotateY(315deg); }

.rotateY-360:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg); }

.rotateY:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg); }

/* RotateZ */
.rotateZ-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.rotateZ-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

.rotateZ-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg); }

.rotateZ-180:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg); }

.rotateZ-225:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(225deg);
  transform: rotateZ(225deg); }

.rotateZ-270:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }

.rotateZ-315:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(315deg);
  transform: rotateZ(315deg); }

.rotateZ-360:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg); }

.rotateZ:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

/* rotateXZ with Z at 45┬║ */
.rotateXZ-45-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg); }

.rotateXZ-90-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(90deg) rotateZ(45deg);
  transform: rotateX(90deg) rotateZ(45deg); }

.rotateXZ-135-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(135deg) rotateZ(45deg);
  transform: rotateX(135deg) rotateZ(45deg); }

.rotateXZ-180-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(180deg) rotateZ(45deg);
  transform: rotateX(180deg) rotateZ(45deg); }

.rotateXZ-225-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(225deg) rotateZ(45deg);
  transform: rotateX(225deg) rotateZ(45deg); }

.rotateXZ-270-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(270deg) rotateZ(45deg);
  transform: rotateX(270deg) rotateZ(45deg); }

.rotateXZ-315-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(315deg) rotateZ(45deg);
  transform: rotateX(315deg) rotateZ(45deg); }

.rotateXZ-360-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(360deg) rotateZ(45deg);
  transform: rotateX(360deg) rotateZ(45deg); }

.rotateXZ-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg); }

/* rotateXZ with Z at 90┬║ */
.rotateXZ-45-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(45deg) rotateZ(90deg);
  transform: rotateX(45deg) rotateZ(90deg); }

.rotateXZ-90-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(90deg) rotateZ(90deg);
  transform: rotateX(90deg) rotateZ(90deg); }

.rotateXZ-135-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(135deg) rotateZ(90deg);
  transform: rotateX(135deg) rotateZ(90deg); }

.rotateXZ-180-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(180deg) rotateZ(90deg);
  transform: rotateX(180deg) rotateZ(90deg); }

.rotateXZ-225-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(225deg) rotateZ(90deg);
  transform: rotateX(225deg) rotateZ(90deg); }

.rotateXZ-270-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(270deg) rotateZ(90deg);
  transform: rotateX(270deg) rotateZ(90deg); }

.rotateXZ-315-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(315deg) rotateZ(90deg);
  transform: rotateX(315deg) rotateZ(90deg); }

.rotateXZ-360-90:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(360deg) rotateZ(90deg);
  transform: rotateX(360deg) rotateZ(90deg); }

/* rotateXZ with Z at 135┬║ */
.rotateXZ-45-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(45deg) rotateZ(135deg);
  transform: rotateX(45deg) rotateZ(135deg); }

.rotateXZ-90-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(90deg) rotateZ(135deg);
  transform: rotateX(90deg) rotateZ(135deg); }

.rotateXZ-135-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(135deg) rotateZ(135deg);
  transform: rotateX(135deg) rotateZ(135deg); }

.rotateXZ-180-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(180deg) rotateZ(135deg);
  transform: rotateX(180deg) rotateZ(135deg); }

.rotateXZ-225-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(225deg) rotateZ(135deg);
  transform: rotateX(225deg) rotateZ(135deg); }

.rotateXZ-270-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(270deg) rotateZ(135deg);
  transform: rotateX(270deg) rotateZ(135deg); }

.rotateXZ-315-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(315deg) rotateZ(135deg);
  transform: rotateX(315deg) rotateZ(135deg); }

.rotateXZ-360-135:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(360deg) rotateZ(135deg);
  transform: rotateX(360deg) rotateZ(135deg); }

/* rotateYZ with Z at 45┬║ */
.rotateYZ-45-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(45deg) rotateZ(45deg);
  transform: rotateY(45deg) rotateZ(45deg); }

.rotateYZ-90-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(90deg) rotateZ(45deg);
  transform: rotateY(90deg) rotateZ(45deg); }

.rotateYZ-135-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(135deg) rotateZ(45deg);
  transform: rotateY(135deg) rotateZ(45deg); }

.rotateYZ-180-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(180deg) rotateZ(45deg);
  transform: rotateY(180deg) rotateZ(45deg); }

.rotateYZ-225-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(225deg) rotateZ(45deg);
  transform: rotateY(225deg) rotateZ(45deg); }

.rotateYZ-270-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(270deg) rotateZ(45deg);
  transform: rotateY(270deg) rotateZ(45deg); }

.rotateYZ-315-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(315deg) rotateZ(45deg);
  transform: rotateY(315deg) rotateZ(45deg); }

.rotateYZ-360-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(360deg) rotateZ(45deg);
  transform: rotateY(360deg) rotateZ(45deg); }

/* rotateXY with Y at 45┬║ */
.rotateXY-45-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(45deg) rotateY(45deg);
  transform: rotateX(45deg) rotateY(45deg); }

.rotateXY-90-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(90deg) rotateY(45deg);
  transform: rotateX(90deg) rotateY(45deg); }

.rotateXY-135-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(135deg) rotateY(45deg);
  transform: rotateX(135deg) rotateY(45deg); }

.rotateXY-180-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(180deg) rotateY(45deg);
  transform: rotateX(180deg) rotateY(45deg); }

.rotateXY-225-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(225deg) rotateY(45deg);
  transform: rotateX(225deg) rotateY(45deg); }

.rotateXY-270-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(270deg) rotateY(45deg);
  transform: rotateX(270deg) rotateY(45deg); }

.rotateXY-315-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(315deg) rotateY(45deg);
  transform: rotateX(315deg) rotateY(45deg); }

.rotateXY-360-45:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(360deg) rotateY(45deg);
  transform: rotateX(360deg) rotateY(45deg); }

/* Scale */
.scale:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(2);
  transform: scale(2); }

.scaleX:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(2);
  transform: scaleX(2); }

.scaleY:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(2);
  transform: scaleY(2); }

.scaleZ:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(2);
  transform: scaleX(2); }

.scale3d:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale3d(2);
  transform: scale3d(2); }

.skew:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: skew(45deg 45deg);
  transform: skew(45deg 45deg); }

.skewX:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg); }

.skewY:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: skewY(45deg);
  transform: skewY(45deg); }

.translate:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(50px);
  transform: translate(50px); }

.translate3d:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(50);
  transform: translate3d(50); }

.translateX:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(50px);
  transform: translateX(50px); }

.translateY:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(50px);
  transform: translateY(50px); }

.translateZ:hover .fill {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px); }

/* Perspective */
.rotate_perspective_X {
  -webkit-transition: 0.3s;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-perspective: 100px;
  perspective: 100px; }

.rotate_perspective_X:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  -webkit-perspective: 100px;
  perspective: 100px; }

.rotate_perspective_X-90 {
  -webkit-transition: 0.3s;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-perspective: 100px;
  perspective: 100px; }

.rotate_perspective_X-90:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(80deg);
  transform: rotateX(80deg);
  -webkit-perspective: 100px;
  perspective: 100px; }

.rotate_perspective_Y {
  -webkit-transition: 0.3s;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.rotate_perspective_Y:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg); }

.rotate_perspective_Y-90 {
  -webkit-transition: 0.3s;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.rotate_perspective_Y-90:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(80deg);
  transform: rotateY(80deg); }

.perspective-100 {
  -webkit-perspective: 100px;
  perspective: 100px; }

.perspective-200 {
  -webkit-perspective: 200px;
  perspective: 200px; }

/* Origin */
.to-100-0-0 {
  -webkit-transform-origin: 100% 0 0;
  transform-origin: 100% 0 0; }

.to-0-100-0 {
  -webkit-transform-origin: 0 100% 0;
  transform-origin: 0 100% 0; }

/*# sourceMappingURL=estilo.css.map */
